@import "../../styles/_tool.scss";

.info {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%; 
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  .block {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
  }
  .countdown {
    width: 6rem;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      color: white;
      text-shadow: 2px 2px 10px black;
      // color: black;
      // -webkit-text-fill-color: white;
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: black;
      .val {
        text-align: right;
        font-size: 3.5rem;
        margin-right: 1rem;
        width: 3rem;
      }
      .sub {
        font-size: 2rem;
        width: 2rem;
      }
    }
  }
  .summary { 
    *{
      font-family: 'Dancing Script', sans-serif;
      color: white;
      text-shadow: 2px 2px 10px black;
      // color: black;
      // -webkit-text-fill-color: white;
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: black;
    }
    .title-info {
      font-size: 4rem;
      position: relative;
      .and {
        font-size: 2rem; 
        position: relative;
        top: 2rem;
        left: 0.5rem;
      }
    }
   
  }
}
