@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Jura:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Jura', sans-serif;
}

$tablet-width: 768px;
$desktop-sm-width: 992px;
$desktop-width: 1200px;
$desktop-xl-width: 1400px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-sm-width - 1px}) {
        @content;
    }
}
@mixin desktop-sm {
    @media (min-width: #{$desktop-sm-width}) and (max-width: #{$desktop-width - 1px}) {
        @content; 
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-xl-width - 1px}) {
        @content;
    }
}

@mixin desktop-xl {
    @media (min-width: #{$desktop-xl-width}) {
        @content;
    }
}
 

@keyframes spin {
  
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
  
    100% {
        transform: rotate(180deg);
    }
}

.container {
    @include desktop-xl {
        max-width: 1320px
    }

    @include desktop {
        max-width: 1140px
    }

    @include tablet {
        max-width: 100%;

    }

    @include mobile {
        max-width: 100%;
    }
}


/* necessary plugin styles */
.ellip {
    display: block;
    height: 100%;
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.ellip,
.ellip-line {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #606060; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #909090; 
  }