@import "../../styles/_tool.scss";

.album {
  padding: 24px;
  .album-thumb {
    margin: 4px;
  }
  .lg-react-element {
    @include desktop-xl{
      column-count: 4;
      column-gap: 1rem;
    }
    @include desktop{
      column-count: 4;
      column-gap: 1rem;
    }
    @include desktop-sm{
      column-count: 3;
      column-gap: 1rem;
    }
    @include tablet {
      column-count: 3;
      column-gap: 1rem;
    }
    @include mobile {
      column-count: 2;
      column-gap: 1rem;
    }

    a {
      display: block;
      margin-bottom: 1em;
      // background-color: red;
      img{
        width: 100%;
      }
    }
  }
  
}
.album-cover{
  .lg-toolbar{
    display: none;
  }
  .lg-icon{
    display: none;
  }
  .lg-sub-html{
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: 32px;
  }
  .lg-content{
    bottom: 0!important;
  }
  .lg-backdrop{
    width: 5;
  }
}