@import "../../styles/_tool.scss";
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 2rem;
  .figure{
    border-radius: 8px;
    overflow: hidden; 
    position: relative;
    span{
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;
      color: white;
      text-shadow: 2px 2px 10px black;
      font-size: 1.5rem;
      text-align: center;
    }
    .btn-link{
      position: absolute;
      bottom: 1rem;
      left: 0;
      width: 100%;
      text-align: center;
    }
    img {
      max-width: 100%;
    }
  }
 
}