@import "../../styles/_tool.scss";
.map-box {
  max-width: calc(100vw - 2rem);
  max-height: 600px;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.point-box {
  position: relative;
  cursor: pointer;
  .marker-circle{
    img{
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
  .point-popover {
    position: absolute;
    background: black;
    color: white;
    padding: 4px;
    bottom: calc(100% + 10px);
    left: calc(100% - 50px);
    font-size: 11px;
    border-radius: 4px;
    min-width: 150px;
    * {
      color: white;
    }
    &::after {
      position: absolute;
      bottom: -4px;
      left: 34px;
      content: " ";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-top: 5px solid black;
    }
    .box-foot{
      width: 100%;
      text-align: left;
      a{
        margin-right: 4px;
      }
    }
  }
}
